@viewport {
    width: device-width;
    zoom: 1.0;
  }
  
  body {
    background-color: black;
    color: rgb(219, 219, 211);
    font-family: 'Roboto', sans-serif;
}

.fade-in {
    animation: fadeIn ease 1.7s;
}

@keyframes fadeIn {
    50%{opacity: 0.5;}
    100% {opacity: 1;}
}

#title {
    font-size: 500%;
    padding: 2%;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    #title {
      font-size: 200%;
      text-align: center;
    }
  }

#bio {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 300%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

img {
    border-radius: 50%;
    width: 200px;
    margin: auto;
}

#links {
    font-size: 320%;
    text-align: center;
    padding: 2%;
    margin-top: 20%;
    margin-bottom: 20%;
}

a {
    color: grey;
}

a:hover {
    color: white;
    transition: color .1s ease-in-out;
}

#programming {
    text-align: center;
    font-size: 320%;
    padding: 2%;
    margin-top: 20%;
    margin-bottom: 20%;
}

#footer {
    padding: 2%;
    font-size: 80%;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
    h1 {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    h1:hover {
        opacity: 1;
    }
    h5 {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    h5:hover {
        opacity: 1;
    }
    p {
        opacity: .75;
        transition: opacity .5s ease-in-out;
      }
    p:hover {
        opacity: 1;
      }
  }