@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  
  body {
    background-color: black;
    font-size: large;
}

.fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    50%{opacity: 0.5;}
    100% {opacity: 1;}
}

#container {
    background-color: black;
    color: rgb(219, 219, 211);
    text-align: left;
    display: grid;
    padding: 3% 10% 3% 20%;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    "main main main main"
    "footer footer footer footer";
}

img {
    float: left;
    border-radius: 50%;
    width: 10%;
}

h1 {
    padding-left: 11%;
}

h5 {
    margin-top: -2.5%;
    padding-left: 11%;
    color: grey;
    font-weight: lighter;
}

a {
    color: grey;
}

a:hover {
    color: white;
}

#intro {
    grid-area: header header header;
    padding: 2%;
    font-size: larger;
}

#mindfulness {
    grid-area: main main main main;
    padding: 2%;
}

#programming {
    grid-area: main main main main;
    padding: 2%;
    float: right;
}

#footer {
    grid-area: footer footer footer footer;
    padding: 2%;
    font-size: small;
    bottom:0;
}